.wp-block-create-block-s3-slider {
	padding: 2px;

}

.mor-slider {

	&__wrapper {

		padding: 60px 0;

		h2 {

			text-align: center;

		}

		.wp-block-create-block-mor-slide {

			img {

				width:100% !important;

			}

		}

	}

}
